body{
    background-color: #3e92cc;
    font-family: 'Varela Round', sans-serif;
}

header{
    background-color: #fffaff;
    color: #0a2463;
    padding: 20px;
    margin: none;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 30px; 
    text-align: center;
}
a.icono{
    margin: none;
}
h1, .icono{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.icono{
    width: 15%;
    margin: none;
}
.bloque{
    text-align: center;
    margin-top: 10%;
}

.miniblock{
    margin-bottom: 10%;
}

.boton{
    background-color: #fffaff;
    border-radius: 5%;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 30px;
    color: #d8315b;
    font-weight: 800;
}

.boton:hover{
    cursor: pointer;
    background-color: #d8315b;
    color: #fffaff;
}

form{
    background-color: #fffaff;
    width: 75%;
    margin: 10%;
    padding: 20px;
    border-radius: 2%;
}

.botonSub{
    background-color: #d8315b;
    border-radius: 5%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #fffaff;
    text-decoration: none;
    padding: 5px;
    margin: 15px;
    border: none;
}

.botonSub:hover{
    cursor: pointer;
    background-color: #fffaff;
    color: #d8315b;
}

.caja{
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    font-family: 'Varela Round', sans-serif;
    color:#0a2463;
    font-weight: bold;
    padding: 5px;
}

.botUno{
    text-align: right;
}

.mensaje{
    background-color: #fffaff;
    border: 2px #d8315b;
    width: 91%;
    height: 80%;
    text-align: center;
    align-self: center;
    margin: 30px;
    padding: 20px;
}

#number{
    width: 25%;
}

#resultadoCifrado{
    display: none;
}

#mensajeDescifrado{
    display: none;
}

.nuevoMensaje{
 margin: 30px;
}

h3{
    margin: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #d8315b;
}

p{
    font-family: 'Varela Round', sans-serif;
    color:#0a2463;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

h4{
    font-family: 'Varela Round', sans-serif;
    color: black;
    text-align: left;
    margin-left: 20%;
    font-weight: bold; 
    font-size: 20px;
}

h5{
    font-family: 'Varela Round', sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;    
}
.bloqueBotonesFinal{
    margin: 20px;
    padding: 5px;
    justify-content: space-between;
}

.botonesFinal{
    display: inline-block;
    
}